# Workbook

You can try out the examples using this notebook, first
evaluate the following two cells:

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///lab2.db

'Connected: None@lab2.db'

In [3]:
%%sql
SELECT * 
FROM movies

Done.

[('Dokumentär om Borrby',),
 ('Rädda valarna',),
 ('Vi räddade valarna',),
 ('Valarna har nu tagit över',),
 ('Hoppla pålle',),
 ('HOPPLA SNABBARE HÄSTJÄVEL',),
 ('Folk spenderar för mycket tid på youtube',)]

In [3]:
%%sql
SELECT * 
FROM reservations

Done.

[(1, 'Emma', 'Rädda valarna', 'HemmaBio StureP', '2017-01-26'),
 (2, 'An2n', 'Dokumentär om Borrby', 'Royal Malmö', '2017-01-26'),
 (3, 'Emma', 'HOPPLA SNABBARE HDASDASDasÄSTJÄVEL', 'Borrby2121Bion', '2017-01-26')]

In [5]:
%%sql
INSERT
INTO    movies (name)
VALUES  ("Dokumentär 2 om Borrby");

Done.

[]

In [5]:
%%sql
INSERT
INTO    reservations (username, theater_name, movie_name, show_date)
VALUES  ("Emma", "Borrby2121Bion", "HOPPLA SNABBARE HDASDASDasÄSTJÄVEL", "2017-01-26");

Done.

[]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql