# Lab 1 - SQL

*Objective:* to practice writing SQL queries.

To run this lab as a `jupyter` notebook, you can download it
[here](lab1.zip) (the zip-file contains the notebook and the
database).

## Background

We have a database to handles the academic achievements of
students at LTH -- in it we have three tables:

* `students` -- contains student data:
   - `ssn` -- social security number ('personnummer')
   - `first_name`
   - `last_name`


* `courses` -- describes the courses:
   - `course_code`
   - `course_name`
   - `level` ("G1", "G2", or "A")
   - `credits`

  
* `taken_courses` -- keeps track of which courses the
   students have taken, once a student has passed a course,
   we add a row in this table:
   - `ssn` -- the social security number of the student
   - `course_code` -- what course has been taken
   - `grade`

![There should be an image here](lab1.png)

Some sample data:

~~~ {.text}
ssn           first_name   last_name
---           ----------   ---------
861103–2438   Bo           Ek
911212–1746   Eva          Alm
950829–1848   Anna         Nyström
...           ...          ...

course_code   course_name                   level    credits
-----------   -----------                   -----    -------
EDA016        Programmeringsteknik          G1       7.5
EDAA01        Programmeringsteknik - FK     G1       7.5
EDA230        Optimerande kompilatorer      A        7.5
...           ...                           ...      ...

ssn           course_code   grade
---           -----------   -----
861103–2438   EDA016        4
861103–2438   EDAA01        3
911212–1746   EDA016        3
...           ...           ...
~~~

The tables have been created with the following SQL
statements:

~~~ {.sql}
CREATE TABLE students (
  ssn          CHAR(11),
  first_name   TEXT NOT NULL,
  last_name    TEXT NOT NULL,
  PRIMARY KEY  (ssn)
);

CREATE TABLE courses (
  course_code   CHAR(6),
  course_name   TEXT NOT NULL,
  level         CHAR(2),
  credits       DOUBLE NOT NULL CHECK (credits > 0),
  PRIMARY KEY   (course_code)
);

CREATE TABLE taken_courses (
  ssn           CHAR(11),
  course_code   CHAR(6),
  grade         INTEGER NOT NULL CHECK (grade >= 3 AND grade <= 5),
  PRIMARY KEY   (ssn, course_code),
  FOREIGN KEY   (ssn) REFERENCES students(ssn),
  FOREIGN KEY   (course_code) REFERENCES courses(course_code)
);
~~~

All courses offered at the "Computer Science and
Engineering" program at LTH during the academic year 2013/14
are in the table 'courses`. Also, the database has been
filled with made up data. SQL statements like the following
have been used to insert the data:

~~~ {.sql}
INTO   students (ssn, first_name, last_name)
VALUES ('950705-2308', 'Anna', 'Johansson'),
       ('930702-3582', 'Anna', 'Johansson'),
       ('911212-1746', 'Eva', 'Alm'),
       ('910707-3787', 'Eva', 'Nilsson'),
       ...
~~~

## Assignments

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///lab1.sqlite

'Connected: None@lab1.sqlite'

The tables `students`, `courses` and `taken_courses` already
exist in your database. If you change the contents of the
tables, you can always recreate the tables with the
following command (at the mysql prompt):

~~~ {.sh}
sqlite3 lab1.db < setup-lab1-db.sql
~~~

After some of the questions there is a number in brackets.
This is the number of rows generated by the question. For
instance, [72] after question a) means that there are 72
students in the database.

a) What are the names (first name, last name) of all the
   students? [72]

In [3]:
%%sql
SELECT first_name, last_name
FROM students

Done.

[('Anna', 'Johansson'),
 ('Anna', 'Johansson'),
 ('Eva', 'Alm'),
 ('Eva', 'Nilsson'),
 ('Elaine', 'Robertson'),
 ('Maria', 'Nordman'),
 ('Helena', 'Troberg'),
 ('Lotta', 'Emanuelsson'),
 ('Anna', 'Nyström'),
 ('Maria', 'Andersson'),
 ('Marie', 'Persson'),
 ('Märit', 'Aspegren'),
 ('Ylva', 'Jacobsson'),
 ('Frida', 'Weidel'),
 ('Caroline', 'Olsson'),
 ('Karolin', 'Ek'),
 ('Eva', 'Hjort'),
 ('Sofia', 'Kjellberg'),
 ('Tina', 'Lööf'),
 ('Lisa', 'Berg'),
 ('Lotta', 'Bergman'),
 ('Susanne', 'Dahl'),
 ('Birgit', 'Ewesson'),
 ('Ulrika', 'Jonsson'),
 ('Jenny', 'Lundin'),
 ('Karin', 'Östberg'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Erik', 'Andersson'),
 ('Erik', 'Andersson'),
 ('Filip', 'Gustavsson'),
 ('Niklas', 'Andersson'),
 ('David', 'Carlsson'),
 ('Tobias', 'Enberg'),
 ('Johan', 'Lind'),
 ('Magnus', 'Pettersson'),
 ('Filip', 'Persson'),
 ('Ola', 'Nilsson'),
 ('Jakob', 'Malmberg'),
 ('Henrik', 'Berg'),
 ('John', 'Lind'),
 ('Patrik', 'Lundh'),
 ('Mikael', 'Nilsson'),
 ('Joakim', 'Nilsson'),
 ('Conny', 'Modig'),
 ('Christian', 'Wallman'),
 ('Magnus', 'Strömgren'),
 ('Daniel', 'Ahlman'),
 ('Lars', 'Molin'),
 ('Magnus', 'Nilsson'),
 ('Anders', 'Olsson'),
 ('Martin', 'Alm'),
 ('Håkan', 'Mossgren'),
 ('Fredrik', 'Ryd'),
 ('Mats', 'Wikström'),
 ('Anders', 'Magnusson'),
 ('Andreas', 'Molin'),
 ('Johan', 'Brattberg'),
 ('Johan', 'Olsson'),
 ('Jonathan', 'Jönsson'),
 ('Magnus', 'Hultgren'),
 ('Axel', 'Nord'),
 ('Henrik', 'Hult'),
 ('Joakim', 'Hall'),
 ('Henrik', 'Gustavsson'),
 ('Torbjörn', 'Modig'),
 ('Daniel', 'Axelsson'),
 ('Per-Erik', 'Pettersson'),
 ('Roger', 'Brorsson'),
 ('Patrik', 'Ohlsson'),
 ('Peter', 'Solberg')]

b) Same as question a) but produce a sorted listing. Sort
   first by last name and then by first name.

In [4]:
%%sql
SELECT first_name, last_name
FROM students
ORDER BY last_name, first_name

Done.

[('Daniel', 'Ahlman'),
 ('Eva', 'Alm'),
 ('Martin', 'Alm'),
 ('Erik', 'Andersson'),
 ('Erik', 'Andersson'),
 ('Maria', 'Andersson'),
 ('Niklas', 'Andersson'),
 ('Märit', 'Aspegren'),
 ('Daniel', 'Axelsson'),
 ('Henrik', 'Berg'),
 ('Lisa', 'Berg'),
 ('Lotta', 'Bergman'),
 ('Johan', 'Brattberg'),
 ('Roger', 'Brorsson'),
 ('David', 'Carlsson'),
 ('Susanne', 'Dahl'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Karolin', 'Ek'),
 ('Lotta', 'Emanuelsson'),
 ('Tobias', 'Enberg'),
 ('Birgit', 'Ewesson'),
 ('Filip', 'Gustavsson'),
 ('Henrik', 'Gustavsson'),
 ('Joakim', 'Hall'),
 ('Eva', 'Hjort'),
 ('Henrik', 'Hult'),
 ('Magnus', 'Hultgren'),
 ('Ylva', 'Jacobsson'),
 ('Anna', 'Johansson'),
 ('Anna', 'Johansson'),
 ('Ulrika', 'Jonsson'),
 ('Jonathan', 'Jönsson'),
 ('Sofia', 'Kjellberg'),
 ('Johan', 'Lind'),
 ('John', 'Lind'),
 ('Patrik', 'Lundh'),
 ('Jenny', 'Lundin'),
 ('Tina', 'Lööf'),
 ('Anders', 'Magnusson'),
 ('Jakob', 'Malmberg'),
 ('Conny', 'Modig'),
 ('Torbjörn', 'Modig'),
 ('Andreas', 'Molin'),
 ('Lars', 'Molin'),
 ('Håkan', 'Mossgren'),
 ('Eva', 'Nilsson'),
 ('Joakim', 'Nilsson'),
 ('Magnus', 'Nilsson'),
 ('Mikael', 'Nilsson'),
 ('Ola', 'Nilsson'),
 ('Axel', 'Nord'),
 ('Maria', 'Nordman'),
 ('Anna', 'Nyström'),
 ('Patrik', 'Ohlsson'),
 ('Anders', 'Olsson'),
 ('Caroline', 'Olsson'),
 ('Johan', 'Olsson'),
 ('Filip', 'Persson'),
 ('Marie', 'Persson'),
 ('Magnus', 'Pettersson'),
 ('Per-Erik', 'Pettersson'),
 ('Elaine', 'Robertson'),
 ('Fredrik', 'Ryd'),
 ('Peter', 'Solberg'),
 ('Magnus', 'Strömgren'),
 ('Helena', 'Troberg'),
 ('Christian', 'Wallman'),
 ('Frida', 'Weidel'),
 ('Mats', 'Wikström'),
 ('Karin', 'Östberg')]

c) What are the names of the students who were born in 1985?
   [4]

In [6]:
%%sql
SELECT first_name, last_name, ssn
FROM students
WHERE SUBSTR(ssn, 1, 2) = "85"

Done.

[('Ulrika', 'Jonsson', '850706-2762'),
 ('Bo', 'Ek', '850819-2139'),
 ('Filip', 'Persson', '850517-2597'),
 ('Henrik', 'Berg', '850208-1213')]

d) The next-to-last digit in the social security number is
   even for females, and odd for males. List the names of
   all female students in our database. Hint: the `SUBSTR`
   function can be useful. [26]

In [24]:
%%sql
SELECT first_name, last_name, ssn
FROM students
WHERE SUBSTR(ssn, 10, 1) IN ("0", "2", "4", "6", "8")

Done.

[('Anna', 'Johansson', '950705-2308'),
 ('Anna', 'Johansson', '930702-3582'),
 ('Eva', 'Alm', '911212-1746'),
 ('Eva', 'Nilsson', '910707-3787'),
 ('Elaine', 'Robertson', '931213-2824'),
 ('Maria', 'Nordman', '951122-1048'),
 ('Helena', 'Troberg', '910308-1826'),
 ('Lotta', 'Emanuelsson', '941003-1225'),
 ('Anna', 'Nyström', '950829-1848'),
 ('Maria', 'Andersson', '860819-2864'),
 ('Marie', 'Persson', '870915-2742'),
 ('Märit', 'Aspegren', '900227-2369'),
 ('Ylva', 'Jacobsson', '931208-3605'),
 ('Frida', 'Weidel', '951004-2346'),
 ('Caroline', 'Olsson', '870909-3367'),
 ('Karolin', 'Ek', '910915-2068'),
 ('Eva', 'Hjort', '860206-1065'),
 ('Sofia', 'Kjellberg', '900528-1540'),
 ('Tina', 'Lööf', '930502-2040'),
 ('Lisa', 'Berg', '950317-3520'),
 ('Lotta', 'Bergman', '891021-1287'),
 ('Susanne', 'Dahl', '880620-2564'),
 ('Birgit', 'Ewesson', '940802-3861'),
 ('Ulrika', 'Jonsson', '850706-2762'),
 ('Jenny', 'Lundin', '890622-1928'),
 ('Karin', 'Östberg', '910226-3409')]

e) How many students are registered in the database?

In [25]:
%%sql
SELECT COUNT() as Total
from students

Done.

[(72,)]

f) Which courses are offered by the department of
   Mathematics (their course codes have the form `FMAxxx`)?
   [22]

In [ ]:
%%sql

g) Which courses give more than 7.5 credits? [16]

In [28]:
%%sql
SELECT * 
FROM courses
WHERE credits > 7.5

Done.

[('EDA270', 'Coachning av programvaruteam', 'A', 9.0),
 ('EDAA05', 'Datorer i system', 'G1', 8.0),
 ('EIEF01', 'Tillämpad mekatronik', 'G2', 10.0),
 ('EIEN01', 'Mekatronik, industriell produktframtagning', 'A', 10.0),
 ('EIT020', 'Digitalteknik', 'G2', 9.0),
 ('EITF01', 'Digitala bilder – kompression', 'G2', 9.0),
 ('ESS050', 'Elektromagnetisk fältteori', 'G2', 9.0),
 ('ETIA01', 'Elektronik', 'G1', 8.0),
 ('EXTA35', 'Introduktionskurs i kinesiska för civilingenjörer', 'G1', 15.0),
 ('EXTF60', 'Introduktionskurs i kinesiska för civilingenjörer, del 2', 'G2', 15.0),
 ('FAFF25', 'Fysik', 'G2', 11.0),
 ('FMAA01', 'Endimensionell analys', 'G1', 15.0),
 ('FMS012', 'Matematisk statistik, allmän kurs', 'G2', 9.0),
 ('FRTN01', 'Realtidssystem', 'A', 10.0),
 ('GEMA70', 'Japanska för tekniker', 'G1', 15.0),
 ('MIOA01', 'Industriell ekonomi, allmän kurs', 'G1', 9.0)]

h) How may courses are there for each level (`G1`, `G2`, and
   `A`)?

In [ ]:
%%sql

i) Which courses (course codes only) have been taken by the
   student with social security number 910101–1234? [35]

In [ ]:
%%sql

j) What are the names of these courses, and how many credits
   do they give?

In [ ]:
%%sql

k) How many credits has the student taken?

In [ ]:
%%sql

l) Which is the student’s grade average?

In [ ]:
%%sql

m) Which students have taken 0 credits? [11]

In [ ]:
%%sql

n) List the names and average grades of the 10 students with
   the highest grade average?

In [ ]:
%%sql

o) List the social security number and total number of
   credits for all students. Students with no credits should
   be included with 0 credits, not null. If you do this with
   an outer join you might want to use the function
   `COALESCE(v1, v2, ...)`; it returns the first value which
   is not `NULL`. (It is a little bit tricky to get this
   query right, if you're missing the students with 0
   credits, don't worry, your TA will help you get it
   right). [72]

In [ ]:
%%sql

p) Is there more than one student with the same name? If so,
   who are these students and what are their social security
   numbers? [7]

In [ ]:
%%sql

q) What 5 courses have the highest grade average?

In [ ]:
%%sql

r) (Not required) What are the 'best' three first initial
   letters of the last names, i.e., if you take the average
   grades for each first letter of the last name, which
   three initials have the highest averages?

In [ ]:
%%sql